:global(.ant-tabs-nav-scroll) {
  text-align: center !important;
}
.checkBtn{
  float: left;
}
.forgot{
  float: right;
}
.login {
  background-color: #F0F2F5;
  .logo {
    text-align: center;
    line-height: 120px;
    .logo_group {
      .logo_pic {
        width: 40px;
        margin-right: 20px;
      }
      .logo_name_dark {
        font-size: 26px;
        color: white;
      }
      .logo_name_light {
        font-size: 20px;
        color: black;
      }
    }
  }
  .card{
    width: 480px;
    margin: 0 auto;
  }
}